---
layout: default
---

<article class="post" itemscope itemtype="http://schema.org/BlogPosting">
  <h2 class="post-title" itemprop="name headline"><a href="{{ site.baseurl }}{{ post.url }}"></a>{{ page.title }}</a></h2>
  <ul class="post-meta">
    <li itemprop="author" itemscope itemtype="http://schema.org/Person">作者: <a itemprop="name" href="https://lovecia.com/author/1/" rel="author">admin</a></li>
    <li>时间:   <time datetime="{{ page.date | date_to_xmlschema }}" class="post-date">{{ page.date | date_to_string }}</time></li>
    <li>分类: <a href="https://lovecia.com/category/2/">中文</a>,<a href="https://lovecia.com/category/ACT/">动作 ACT</a></li>
    <li itemprop="interactionCount"><a itemprop="discussionUrl" href="https://lovecia.com/293/#comments">80 条评论</a></li>
  </ul>
  <div class="post-content" itemprop="articleBody">
    {{ content }}

  </div>


</article>
